extends layout

block content
	.ui.stackable.center.aligned.middle.aligned.grid
		.seven.wide.computer.twelve.wide.mobile.column
			div
				h2.ui.teal.image.header
					.content Log-in to your account
				form.ui.form(action="/login" method="post")
					.ui.segment
						.field
							.ui.left.icon.input
								i.user.icon
								input(type="text" name="login" placeholder="Login")
						.field
							.ui.left.icon.input
								i.lock.icon
								input(type="password" name="password" placeholder="Password")
						.ui.fluid.teal.button.submit Login
						.ui.error.message
						if authMsg.length > 0
							.ui.negative.message
								.p= authMsg
	script(src="/js/login.js")